body
{
    background-image: url("./background-wallpaper.jpg");
    background-size: cover; 
}

#navBar
{
    width:1714px;
    height: 55px;
}

#navBarHeader
{
    font-family: 'Arvo', serif;
    font-size: 25px;
}


#navEle
{
    font-family: serif;
    font-size : 20px;
}